# ОБЯЗАТЕЛЬНО
CLUSTER_TOKEN=INSERT_YOUR_KLEI_CLUSTER_TOKEN

# НЕОБЯЗАТЕЛЬНО (дефолты ниже)

# Хранилище Конфиги/сейвы: ./data/DoNotStarveTogether/<CLUSTER_NAME>/
# Если уже есть готовый кластер от Klei, просто положи его в ./data/DoNotStarveTogether/ (название папки-кластера = CLUSTER_NAME). Скрипт увидит каталог и ничего не перезапишет.
CLUSTER_NAME=MyDediServer
SERVER_NAME='DST Docker Server'
SERVER_DESC='Dedicated server in Docker'
SERVER_PASSWORD=

# survival/endless/wilderness
GAME_MODE=survival

MAX_PLAYERS=6
PVP=false
PAUSE_WHEN_EMPTY=true

# true = не публиковать в лобби
OFFLINE_CLUSTER=false

# 1 = включить пещеры, 0 = только поверхность
ENABLE_CAVES=1

MASTER_PORT=10999
CAVES_PORT=11000
SHARD_MASTER_PORT=10888

MASTER_STEAM_PORT=27016
MASTER_AUTH_PORT=8766
CAVES_STEAM_PORT=27018
CAVES_AUTH_PORT=8768

# можешь зафиксировать свой; иначе сгенерируем
# CLUSTER_KEY=

# Обновление сервера происходит при каждом старте контейнера
UPDATE_ON_START=1
